/**, *::before, *::after {*/
/*	box-sizing: border-box;*/
/*	margin:0;*/
/*	padding:0;*/
/*}*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Google Font: Roboto */
@font-face {
	font-family: 'CustomFont';
	src: url('fonts/CustomFont.woff2') format('woff2');
}

:root {
	--base: #555;
	--base-100: #f1f1f1;
	--base-400: #555;
	--base-800: #000;
	--yellow: #ffda4b;
	--yellow-100: #fffbe6;
	--yellow-400: #ffda4b;
	--yellow-800: #8b6f00;
	--blue: #0a61ae;
	--blue-100: #e2f8ff;
	--blue-400: #61dafb;
	--red-400: #0a61ae;
}

body {
	margin: 0;
	height: 100vh;
	/*font-family: "Open Sans", sans-serif;*/
	font-family: 'Arial', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 20px;
	padding: 0;
	line-height: 1.6;

	background-image: url('pic3.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


header {
	padding: 8px;
}


a {
	color: white;

	&:hover {
		border-radius: 10px;
	}

	header {
		padding: 1rem;
		text-align: center;
	}
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(to top, #454444, #8c8181);


	z-index: 1000;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav #logo{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	background-color: var(--base-800);
	color: white;
	height: 54px;
	width: 54px;
	margin-right: 30px;
	margin-left: 30px;
	border-radius: 50%;
}

nav li#name {
	font-size: 1.4em;
	font-weight: bold;
	margin-left: 0;
	color: var(--base-800);
}

.logo-container {
	display: flex;
	align-items: center;
}

nav  ul {
	list-style-type: none;
	display: flex;
	gap: 10px;
	padding: 0;
	margin: 0;
	width: 100%;
	justify-content: space-between;
}

nav ul li  a {
	transition: color 0.3s;
}

.nav-links {
	display: flex;
	gap: 2px;
}

nav li {
	display: inline-block;
	margin: 10px 15px;
}

nav a {
	display: inline-block;
	padding: 2px 20px;
	/*color: var(--base-100);*/
}

nav li a {
	padding: 8px 12px;
	transition: background-color 0.3s, color 0.3s;
}

.nav-links li a {
	color: var(--base-800);
	font-weight: bold;

	&:hover {
		background-image: url('H1.1.jpg');
		border-radius: 10px;
		color: white;
		font-weight: bold;
		box-shadow: 0 3px 20px var(--base-100);
	}
}



/* Mobile menu toggle */
.mobile-toggle {
	display: none;
}

#menu-toggle {
	display: none;
}

.mobile-toggle-label {
	display: none;
	color: var(--base-800);
}

@media (max-width: 900px) {
	.mobile-toggle-label {
		display: inline-block;
		position: absolute;
		top: 15px;
		right: 20px; /* Place the menu icon at the right side */
		cursor: pointer;
	}

	.nav-links {
		display: none; /* Hide menu links by default */
		flex-direction: column;
		width: 100%;
		text-align: center;
		color: black;
	}


	#menu-toggle:checked ~ ul .nav-links {
		display: flex;
	}

	.mobile-toggle {
		display: block;
	}

	nav ul {
		justify-content: space-between;
	}
}

main {
	margin: 35px;
}
section {
	z-index: 1000;
	gap:30px;
	margin: 100%;

	@media (max-width:1440px){
		padding-left:300px;
		padding-right:300px;
	}
}

h1 {
	background : var(--yellow-100);
	background-clip: text;
	color: transparent;
	background-color: white;
	font-size: 64px;
	line-height: 1;
	margin-bottom: 10px;

	small {
		display: block;
		font-weight: 100;
	}
	@media (max-width: 1024px) {
		font-size: 48px;
	}
}

.hero{
	display: flex;
	@media (max-width: 1024px) {
		flex-direction: column;
	}

	.hero-blue {
		flex: 1;
		border-radius: 30px;
		padding: 30px;
		margin-top: 50px;
		display: flex;
		background-image: url('pic3.jpg');


		&:hover {
			transform: scale(1.02); /* Slightly enlarges the element on hover */
			transition-duration: 0.5s;
			box-shadow: 0 6px 20px var(--base-100);
			background: linear-gradient(to bottom, black, #232222);
		}

		span {
			@media (max-width: 768px) {
				display: none;
			}
		}

		.text {
			color: var(--base-100);
			font-size: 22px;

		}

		.call-to-action {
			margin-top: 20px;
			margin-bottom: 10px;

			a {
				margin-right: 10px;
				margin-bottom: 10px;
			}
			a[target="_blank"] {
				color: black;
				font-size: 18px;
			}
		}

		.social-links {
			a {
				/* Add smooth transition for hover effects */
				display: inline-block;
				transition: background-color 0.3s ease, transform 0.3s ease;

				.fa-github {
					font-size: 2em;
					width: 45px;
				}
				.fa-linkedin {
					font-size: 2em;
				}
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

.button {
	display:inline-block;
	padding:10px 30px;
	color: var(--base-100);
	border-radius:10px;
	transition: ease 0.3s all;
	&:hover {
		text-decoration:none;
		background-color: var(--base-800);
	}
	&.white {
		background-color: white;
		color: var(--base-800);
		font-weight: bold;
		&:hover {
			background-color: var(--base-100);
			color: var(--base-800);
		}
	}
	&.black {
		background-color: var(--base);;
		font-weight: bold;
		color: white;
		&:hover {
			background-color: var(--base);
			color: var(--base-100);
		}
	}
}

.hero-yellow {
	flex:0.5;
	padding-top: 80px;
	border-radius: 50%;
	margin-top: 450px;

	display:flex;
	justify-content:center;
	align-items:flex-end;
	width: 40%;
	height: 0;
	background-image: url('pic3.jpg');

	&:hover {
		transform: scale(1.01);
		box-shadow: 0 6px 20px var(--base-100);
	}

	img {
		margin-bottom: 20px;
		margin-top:-100px;
		max-width:400px;
		align-items: center;
	}
}


.logos {
	/*background-color: #1f1f2d;*/
	background: transparent;
	padding: 30px 0;
	@media (max-width: 1440px) {
		border-radius: 0;
	}
	.marquee {
		width: 100vw;
		max-width: 100%;
		height: 85px;
		overflow: hidden;
		position: relative;

		.track {
			position: absolute;
			max-width: 1000%;
			white-space: nowrap;
			will-change: transform;
			animation: marquee 40s linear infinite;
			display: flex;
			gap: 15px;
		}
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

body {
	background-color: #1c1c2b;
	color: white;
	padding: 20px;
}

.education {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;  /* Horizontally center the boxes */
	align-items: flex-start;
	gap: 20px;
}

/* Education section with responsive width */
.education-section {
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
	width: 90%; /* Make it more responsive */
}

.education-box {
	background-color: black;
	border-radius: 10px;
	box-shadow: var(--base-100);
	margin: 20px auto;
	padding: 2vw;
	display: flex;
	flex-direction: row;  /* Flex row for larger screens */
	justify-content: space-between;
	position: relative;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	width: 100%;
	max-width: 1000px; /* Limit the width for larger screens */
}

/* Box hover effect */
.education-box:hover {
	transform: scale(1.05);
	box-shadow: 0 6px 20px var(--base-100);
}

/* Left and Right content for full-size screens */
.left-content, .right-content {
	width: 45%; /* Divide content into two sides */
}

/* Topic margin adjustment */
.Topic {
	margin-top: 8vw;
	background-image: url("pic5.jpeg");
	font-size: 2.0em;
	margin-bottom: 2vw;
}


/* Responsive text sizing */
h3 {
	font-size: calc(1.0rem + 0.5vw); /* Adjust with screen size */
	margin-bottom: 8px;

	small{
		color: #cccccc;
	}
}

h4 {
	font-size: calc(0.8rem + 0.4vw); /* Adjust with screen size */
	margin-bottom: 8px;
}

p {
	font-size: calc(0.8rem + 0.3vw); /* Adjust with screen size */
	margin-bottom: 8px;
}

/* Responsive list text */
ul {
	list-style-type: none;
	font-size: calc(1rem + 0.3vw);
	text-align: left;
}

li {
	margin-bottom: 6px;
	font-size: 1.0rem;
}

/* Responsive button size */
.status-button {
	background-color: #343a40;
	color: black;
	border: none;
	padding: 5px 12px;
	border-radius: 5px;
	font-size: calc(0.85rem + 0.2vw); /* Adjust with screen size */
	cursor: default;

}

/* Status button color classes */
.status-button.full-time {
	background-color: #4caf50;
}

.status-button.part-time {
	background-color: #ff9800;
}

/* Box divider line, shown only on large screens */
.education-box::after {
	content: '';
	position: absolute;
	height: 70%;
	width: 1px;
	background-color: #555;
	top: 15%;
	left: 50%;
	transition: opacity 0.3s ease;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
	.education-box {
		flex-direction: column;  /* Stack content vertically */
		padding: 5vw;  /* Increase padding for smaller screens */
	}

	.left-content, .right-content {
		width: 100%; /* Full width for stacked content */
	}

	/* Hide the divider on smaller screens */
	.education-box::after {
		opacity: 0; /* Make the divider invisible */
	}
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.skills_section{
	width: 100%;
	height: 100vh;
	padding: 0px 13%;
	background-color: rgba(0, 0, 0, 0.082);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.skills_head{
	width: 100%;
	margin-bottom: 100px;
	display: grid;
	place-items: center;
	text-align: center;
}
.skills_head h2{
	font-size: 30px;
	margin-bottom: -5px;
}
.skills_head h2 span{
	color: #ff9800;
}
.skills_main{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
	font-weight: 500;
}
.skill_bar .bar{
	width: 100%;
	height: 10px;
	background-color: rgba(0, 0, 0, 0.144);
	border-radius: 25px;
	margin-top: 5px;
	position: relative;
}
.skill_bar .bar span{
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: #ff9800;
	border-radius: 256px;
}
.skill_bar .bar .html{
	width: 90%;
	animation: html 2s;
}
@keyframes html {
	0%{
		width: 0%;
	}100%{
		 width: 90%;
	 }
}
.skill_bar .bar .css{
	width: 85%;
	animation: css 2s;
}
@keyframes css {
	0%{
		width: 0%;
	}100%{
		 width: 85%;
	 }
}
.skill_bar .bar .js{
	width: 80%;
	animation: js 2s;
}
@keyframes js {
	0%{
		width: 0%;
	}100%{
		 width: 80%;
	 }
}
.skill_bar .bar .react{
	width: 75%;
	animation: react 2s;
}
@keyframes react {
	0%{
		width: 0%;
	}100%{
		 width: 75%;
	 }
}
.skill_bar .bar .angular{
	width: 70%;
	animation: angular 2s;
}
@keyframes angular {
	0%{
		width: 0%;
	}100%{
		 width: 70%;
	 }
}
.skill_bar .bar .node{
	width: 50%;
	animation: node 2s;
}
@keyframes node {
	0%{
		width: 0%;
	}100%{
		 width: 50%;
	 }
}
.skill_bar .bar .spring{
	width: 65%;
	animation: spring 2s;
}
@keyframes spring {
	0%{
		width: 0%;
	}100%{
		 width: 65%;
	 }
}
.skill_bar .bar .SQL{
	width: 75%;
	animation: SQL 2s;
}
@keyframes SQL {
	0%{
		width: 0%;
	}100%{
		 width: 75%;
	 }
}
.skill_bar .bar .java{
	width: 85%;
	animation: java 2s;
}
@keyframes java {
	0%{
		width: 0%;
	}100%{
		 width: 85%;
	 }
}
.skill_bar .bar .python{
	width: 90%;
	animation: python 2s;
}
@keyframes python {
	0%{
		width: 0%;
	}100%{
		 width: 90%;
	 }
}





/* Contact Form */
.contact{
	padding: 2em;
	max-width: 600px;
	margin: 2em auto 0;
	flex: 1;
}

.contact-form {
	display: flex;
	flex-direction: column;
}

.contact-form label {
	margin-top: 1em;
	font-weight: bold;
}

.contact-form input,
.contact-form textarea {
	padding: 0.5em;
	margin-top: 0.3em;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.contact-form button {
	margin-top: 1em;
	padding: 0.7em;
	background-color: #333;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.contact-form button:hover {
	background-color: #555;
}

/* Footer */
footer {
	background: linear-gradient(to top, #353434, #8c8181);
	color: black;
	text-align: center;
	padding: 1em 0;
	margin-top: 2em;
	height: 90px;

}

footer a {
	text-decoration: none;
	width: 100%;
	height: 100%;
	background: transparent;
	color: black;
	text-align: center;
	padding: 0.5em 0;
	margin-top: 1em;
	position: relative;
	bottom: 0;
	left: 0;
}
/*.footer::after {*/
/*	content: "Thank you for visiting!";*/
/*	display: block;*/
/*	text-align: center;*/
/*	font-size: 0.9em;*/
/*	color: #6667;*/
/*}*/


footer a:hover {
	color: white;
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
	.hero {
		flex-direction: column;
	}

	.hero-blue, .hero-yellow {
		flex: none;
		width: 100%;
	}
}
